.formTodo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.formTodoInput {
  font-family: inherit;
  width: 60%;
  padding: 16px 16px 16px 55px;
  font-size: 21px;
  border: none;
  color: #000;
  margin-right: 10px;
}

.formTodoButton {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  background-color: #3d3a3a;
  align-items: center;
  height: 57px;
  width: 100px;
  font-size: 30px;
  background-color: #3d3a3a;
  cursor: pointer;
  padding: 16px 0;
  color: #fff;
}

.checkAll {
  position: absolute;
  z-index: 10;
  height: 30px;
  width: 30px;
  top: 14px;
  left: 88px;
  cursor: pointer;
}

