.TodoList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 35px;
}

.TodoList__item:not(:first-child) {
    margin-top: 20px;
}

.TodoList__list {
    width: 77%;
}
