.TodoList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 35px;
}

.TodoListSheet:not(:first-child) {
  margin-top: 20px;
}

.TodoListSheet {
  width: 77%;
}

.TodoListEmpty {
  font-style: oblique;
  font-size: 20px;
}
