.todoList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 35px;
}

.todoListSheet:not(:first-child) {
  margin-top: 20px;
}

.todoListSheet {
  width: 77%;
}

.todoListEmpty {
  font-style: oblique;
  font-size: 20px;
}
