.footer {
  padding: 20px 95px;
  background-color: #4d4646;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterTodos {
  display: flex;
  align-items: center;
  gap: 7px;
}

.filterButton {
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: #fff;
  min-width: 120px;
  background-color: #4d4646;
  padding: 10px;
}

.filterButtonActive {
  cursor: pointer;
  border: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  min-width: 120px;
  background-color: #4d4646;
  padding: 10px;
}
